/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #008CBA;
  }
  
  /* Header Styles */
  header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 36px;
    color: #333;
  }
  
  /* Event Details Styles */
  .event-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
  }
  
  .details-left {
    flex: 1 1 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .details-left img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .event-info h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
  }
  
  .event-info p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .event-info ul {
    margin-top: 20px;
  }
  
  .event-info li {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .details-right {
    flex: 1 1 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-price h2, .event-links h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
  }
  
  .event-price p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .event-links ul {
    margin-top: 20px;
  }
  
  .event-links li {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .event-links li a i {
    font-size: 24px;
    color: #008CBA;
    margin-right: 10px;
  }
  
  .event-links li a:hover i {
    color: #006B9F;
  }