* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #008CBA;
  color: white;
  padding: 10px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.welcome-message {
  font-size: 24px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #008CBA;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #006B9F;
}
